<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<footer th:fragment="footerFragment">
    <script>

        function showMenuDiv(){
            let menuDiv = document.getElementById('menuDiv')
            menuDiv.style.left = '0';

        }
        function closeMenuDiv(){
            let menuDiv = document.getElementById('menuDiv')
            menuDiv.style.left = '-55vw';

        }

        function uptop(){
            window.scrollTo(0,0)
        }

    </script>

    <div class="footermainDiv">
        <div class="footerChildDiv1">
            <a href="https://github.com/ddpound"><img src="/img/githubLogo.png" > GitHub</a> &nbsp;&nbsp;
            <a href="https://velog.io/@ddpound"><img src="/img/velogLogo.png" > ddpound.log</a>
            <a href="https://mail.google.com/"><img src="/img/gmailLogo.png" > ybloglab@gmail.com</a>
        </div>

    </div>

    <div class="toggleDiv">
        <button onclick="showMenuDiv()"><img src="/img/buttonLogo/menubutton.png"></button>
    </div>

    <div id="menuDiv" class="menuDiv">
        <div class="menuDivChild">
            <h3><a href="/" >YBLOGLAB</a></h3>
            <a href="/auth/patchnote" >공지</a>
            <a  href="/auth/boardmain">자유게시판</a>
            <a href="/auth/skillboard">기술게시판</a>
            <a href="/auth/portfolio">포트폴리오</a>
            <a th:if="${#authorization.expr('isAuthenticated()')} == false" href="/auth/loginForm">로그인</a>
            <a  th:if="${#authorization.expr('isAuthenticated()')} == true" href="/board/write">글쓰기</a>
            <button onclick="closeMenuDiv()">닫기</button>
        </div>




    </div>

    <div class="footerTopButton">
        <button onclick="uptop()">TOP</button></li>
    </div>

</footer>
</html>