<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-md text-dark"
         style=" background-color: transparent;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">게시판</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/auth/Portfolio">포트폴리오</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
                    <a class="nav-link" href="/board/write">글쓰기</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')} == false">
                    <a class="nav-link" href="/auth/loginForm"> 로그인</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')} == false">
                    <a class="nav-link" href="/auth/emailauth">회원가입</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
                    <a class="nav-link" href="#" >로그인 유저 :  [[${#authentication.name}]]</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
                    <a class="nav-link" href="/logout" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">YBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/patchnote">패치노트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">실험실</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</html>