<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">


</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>

<div layout:fragment="content">
    <div class="backContainer" style="margin-top: 13%;">
    </div>
    <div class="jumbotron mt-2 text-center" style="background-color: transparent;color: black ">
        <div style="font-weight: bold; color: whitesmoke;">
            <p style="letter-spacing: -13px; font-size: 150px; font-family: 한컴돋움">YBlogLab</p>
            <p>아직 테스트 단계 블로그입니다</p>
        </div>
        <div th:if="${nowStatus.getNowStatus()} != null">
        <marquee width="500px"><label th:text="${nowStatus.getNowStatus()}" style="background-color: transparent; font-weight: bold;color: black" id="marqueeText"></label> </marquee>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <table class="table col-8" style="background-color: transparent; color: whitesmoke;">
            <thead>
            <tr style="color: whitesmoke;">
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="items : ${boards}">
                <td><a th:href=" @{/auth/board/details(id=${items.getId()})}">[[${items.title}]]</a></td>
                <td th:text="${items.getUser().getUsername()}"></td>
                <td th:text="${items.getCreateDate()}"></td>
            </tr>

            </tbody>
        </table>

    </div>


    <ul class="pagination justify-content-center">

        <li class="page-item " th:if="${boardsPage.number != 0}"><a class="page-link bg-white text-dark" th:href="@{/(page=${boardsPage.number-1})}">Previous</a></li>
        <li class="page-item " th:if="${boardsPage.last != true}"><a class="page-link bg-dark text-white" th:href="@{/(page=${boardsPage.number+1})}">Next</a></li>
    </ul>

    <div class="input-group mb-3" th:if="${#authentication.getName()} == 'Y' ">
        <input type="text" class="form-control" id="chagestatus" placeholder="현재상태를 쓰시오">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="changemarqueeText()">OK</button>
            <button class="btn btn-danger" type="button">Cancel</button>
        </div>
    </div>



</div>
</html>