<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/layout"
>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .boardcontent img{
            max-width: 100%;
        }
    </style>

</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/patchnote.js}"></script>
</th:block>



<div layout:fragment="content">
    <div class="container bg-white form-group border-top border-secondary rounded" style="background-color:rgba( 255, 255, 255, 0.5 );">
    <div class="form-group text-light font-weight-bold bg-dark text-center">
        <label>[제목]</label>
        <h3 th:text="${patchboard.getTitle()}"></h3>
        <div th:if="${patchboard.getUser().getUsername()}== ${#authentication.getName()} or ${#authentication.getName()}== 'Y' ">
            <script th:inline="javascript">
                let boardId = [[${patchboard.getId()}]]
            </script>
            <button type="button" class="btn btn-outline-danger" id="boarddelete" onclick="PatchNoteDelete(boardId)">삭제</button>
        </div>

    </div>

        <div class="boardcontent" style="width: 1110px; height: auto;" th:utext="${patchboard.getContent()}"> </div>
        <br><br><br><br><br>

    </div>



</div>
</html>